.category {
  display: flex;
  flex-direction: column;
  gap: toRem(25);
  align-items: center;
  padding: toRem(90) 0;
  &__text {
    text-align: center;
  }

  &__items {
    display: flex;
    justify-content: center;
    gap: toRem(50);

    &__card {
      display: flex;
      flex-direction: column;
      gap: toRem(12);
      text-transform: uppercase;
      text-align: center;

      img {
        object-fit: cover;
        cursor: pointer;
      }

      a {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
