.details {
  display: flex;
  gap: toRem(30);
  padding: toRem(30) toRem(80);

  &__left {
    display: flex;
    gap: toRem(24);
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: toRem(7);

    &__category {
      p {
        text-transform: capitalize;
        color: $small-text-color;
      }
      &__title {
        width: 70%;
      }
    }

    &__content {
      display: flex;
      gap: toRem(5);
      justify-content: space-between;
      &__title {
        width: 60%;
      }

      &__price {
        display: flex;
        gap: toRem(5);
      }
    }

    &__ratings {
      display: flex;
      gap: toRem(10);
      align-items: center;

      p {
        color: $small-text-color;
      }
    }

    &__description {
      h6 {
        text-align: justify;
      }
    }

    &__button {
      cursor: pointer;

      :hover {
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
      }
    }
  }
}
