.hero {
  min-height: toRem(758);
  background: url("/images/home_hero.png") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__details {
    width: toRem(632);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: toRem(30);

    &__title {
      display: flex;
      flex-direction: column;
      gap: toRem(14);
    }
  }
}
