.extra-section {
  &__header {
    text-align: center;
    margin-bottom: 2rem;

    h2 {
      font-size: 2rem;
      font-weight: bold;
    }

    p {
      margin: 0.5rem 0;
      font-size: 1rem;
    }

    a {
      font-size: 1rem;
      color: #007bff;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.static-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: toRem(18);
  margin: 1.5rem 0;

  &__item {
    position: relative;
    width: 20%;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    &__icon {
      position: absolute;
      top: 10px;
      right: 10px;
      background: rgba(255, 255, 255, 0.7);
      padding: 5px;
      border-radius: 50%;
    }
  }
}
