$primary-text-color: #262626;
$secondary-text-color: #ffffff;
$primary-bg-color: #ffffff;
$secondary-bg-color: #f5f4f4;
$small-text-color: #737373;
$accent-color: #e6ded8;
$navbar-border-color: #dddbdc;
$primary-button-color: #ffffff;
$tertiary-bg-color: #e6ded8;
